<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.donut.ordermq.mapper.MqRecordMapper" >
  <resultMap id="BaseResultMap" type="cn.donut.ordermq.entity.MqRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="json_content" property="jsonContent" jdbcType="VARCHAR" />
    <result column="routing_key" property="routingKey" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="persist" property="persist" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, json_content, routing_key, create_time, persist
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.donut.ordermq.entity.MqRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mq_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mq_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mq_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.donut.ordermq.entity.MqRecordExample" >
    delete from mq_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.donut.ordermq.entity.MqRecord" >
    insert into mq_record (id, json_content, routing_key, 
      create_time, persist)
    values (#{id,jdbcType=INTEGER}, #{jsonContent,jdbcType=VARCHAR}, #{routingKey,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{persist,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.donut.ordermq.entity.MqRecord" >
    insert into mq_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="jsonContent != null" >
        json_content,
      </if>
      <if test="routingKey != null" >
        routing_key,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="persist != null" >
        persist,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="jsonContent != null" >
        #{jsonContent,jdbcType=VARCHAR},
      </if>
      <if test="routingKey != null" >
        #{routingKey,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="persist != null" >
        #{persist,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.donut.ordermq.entity.MqRecordExample" resultType="java.lang.Integer" >
    select count(*) from mq_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mq_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.jsonContent != null" >
        json_content = #{record.jsonContent,jdbcType=VARCHAR},
      </if>
      <if test="record.routingKey != null" >
        routing_key = #{record.routingKey,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.persist != null" >
        persist = #{record.persist,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mq_record
    set id = #{record.id,jdbcType=INTEGER},
      json_content = #{record.jsonContent,jdbcType=VARCHAR},
      routing_key = #{record.routingKey,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      persist = #{record.persist,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.donut.ordermq.entity.MqRecord" >
    update mq_record
    <set >
      <if test="jsonContent != null" >
        json_content = #{jsonContent,jdbcType=VARCHAR},
      </if>
      <if test="routingKey != null" >
        routing_key = #{routingKey,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="persist != null" >
        persist = #{persist,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.donut.ordermq.entity.MqRecord" >
    update mq_record
    set json_content = #{jsonContent,jdbcType=VARCHAR},
      routing_key = #{routingKey,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      persist = #{persist,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>