<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <import resource="applicationContext-service-config.xml"/>

    <context:component-scan base-package="order.product"/>
    <bean class="com.koolearn.framework.common.utils.spring.SpringContextUtils"/>


    <dubbo:reference id="iProductService"  interface="com.koolearn.sharks.service.IProductService"/>

    <dubbo:reference id="mqRecordService"
                     interface="cn.donut.ordermq.service.MqRecordService"/>

    <dubbo:reference id="iOrderService" interface="cn.donut.ordermq.service.order.IOrderService"/>

    <dubbo:reference id="iOrderProductService" interface="cn.donut.ordermq.service.order.IOrderProductService"/>

    <!--订单状态消息变更MQ消息-->
    <dubbo:reference id="iOrderBasicInfoService" interface="com.koolearn.ordercenter.service.IOrderBasicInfoService"/>
    <!--加密解密-->
    <dubbo:reference id="msgEncryptionService" interface="cn.donut.retailm.service.common.MsgEncryptionService"/>
    <!--分销系统-->
    <dubbo:reference id="iRetailmOrderService" interface="cn.donut.retailm.service.order.IOrderService"/>
    <!--查询订单分销员信息-->
    <dubbo:reference id="iOrderDistributionInfoService"
                     interface="com.koolearn.ordercenter.service.IOrderDistributionInfoService"/>

    <!--查询客户信息-->
    <dubbo:reference id="OpenService"
                     interface="com.koolearn.sso.service.IOpenService"/>
</beans>
